/* Global Layout Set-up -------------------------------------- */

* { 
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #fff;
  font-size: 1em;
  text-align: center;
}

img {
	width: 100%;
}

/* Base Styling ------------------------------ */

h1 {
	text-transform: uppercase;
  background-color: #DF3A2C;
  padding: 30px 0;
  margin: 0;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h2 {
  padding: 10px 0 15px 0;
}

h1, h2, h3, h4, h5, h6, legend {
  font-family: 'Lato', sans-serif;
}

main {
  padding:10px 30px;
  background: #fff;
  width:100%;
  margin: 0 auto;
}

/* Section Styling ------------------------------- */

.blurb::after,
fieldset:first-child::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #DF3A2C;
  display: block;
  border-radius: 1px;
  margin: 40px 0 30px 0;
}

/* Form Styling ------------------------------- */

form * {
  display: block;
}

form label {
  text-align: left;
}

input {
  margin: 10px 0 20px;
}

input[type="text"], input[type="tel"], input[type="email"],input[type="submit"], input[type="url"], textarea {
  padding: 16px 20px;
  background-color: #f4f4f4;
  border:none;
  box-shadow:inset 0px 2px 0 0 #ccc;
  border-radius: 8px;
  width: 100%;
  outline: none;
  transition: all 0.5s;
}

textarea {
  min-height: 120px;
  margin: 0 0 20px 0;
}

.select {
  background-color: #f4f4f4;
  border:none;
  box-shadow:inset 0px 2px 0 0 #ccc;
  border-radius: 8px;
  width: 100%;
  outline: none;
  height:52px;
  padding: 3px;
  margin: 10px 0 20px;
}

select {
  background-color: #f4f4f4;
  border:none;
  border-radius: 8px;
  width: 100%;
  outline: none;
  height:46px;
  -webkit-appearance: none;
  padding: 3px 15px;
  background-image: url("../img/dropdown.svg");
  background-position: right 4px center;
  background-repeat: no-repeat;
}

input:focus[type="text"], input:focus[type="tel"], input:focus[type="email"], input:focus[type="url"], textarea:focus {
  background: #fff;
  box-shadow: inset 0 0 0 2px #bbb;
}

input[type="submit"] {
  background-color: #DF3A2C;
  color: #fff;
  box-shadow: 0 0 0 0 #940012, 0 1px 0 0 #ddd;
  outline: none;
  transition: all 0.5s;
  background: -moz-linear-gradient(top, #df3a2c 1%, #DF3A2C 100%);
  background: -webkit-linear-gradient(top, #df3a2c 1%,#DF3A2C 100%);
  border: 1px solid #E13A2C;
}

input[type="submit"]:hover {
  background-color: #D0021B;
  transform: translate(0, -3px);
  transition: all 0.5s;
  box-shadow: 0 3px 0 0 #84332C, 0 6px 4px 0 #ddd;
  background: -moz-linear-gradient(top, #df3a2c 1%, #d0021b 100%);
  background: -webkit-linear-gradient(top, #df3a2c 1%,#d0021b 100%);
}

input[type="submit"]:active {
  transform: translate(0, 1px);
  transition: all 0.15s;
  box-shadow: 0 -1px 0 0 #940012;
}

.zip {
  width: 50%;
}

fieldset {
  padding:0;
  border: none;
}

legend {
  padding: 10px 0 15px 0;
  font-size: 1.5em;
  font-weight: 600;
}

form p {
  margin:30px 0 15px;
}

input[type="checkbox"],
input[type="radio"] {
  box-shadow: none;
  display: none;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  cursor:pointer;
  display: inline-block;
  margin: 10px 30px 10px 0;
}

input[type="checkbox"] + label span {
  display:inline-block;
  width:20px;
  height:20px;
  margin:-1px 16px 0 0;
  vertical-align:middle;
  background:url(../img/sprite.svg) -46px -20px no-repeat;
  cursor:pointer;
}

input[type="checkbox"]:checked + label span {
  background:url(../img/sprite.svg) -66px -20px no-repeat;
}

input[type="radio"] + label span {
  display:inline-block;
  width:20px;
  height:20px;
  margin:-1px 16px 0 0;
  vertical-align:middle;
  background:url(../img/sprite.svg) -46px 0 no-repeat;
  cursor:pointer;
}

input[type="radio"]:checked + label span {
  background:url(../img/sprite.svg) -66px 0 no-repeat;
}

.left {
  text-align: left;
}

input::-webkit-input-placeholder {
  text-align: right;
}

input:focus::-webkit-input-placeholder {
  color: #DF3A2C;
  transition: all 0.5s;
}

.mrmrs {
  margin: 20px 10px;
}

.titleinline + label{
  display: inline;
}

.inline {
  display: inline-block;
  margin: 8px 15px 8px 0;
}

.newsletterimg {
  background: #DF3A2C;
  width:120px;
  height: 120px;
  border-radius: 50%;
  margin:20px auto 0;
  padding:26px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.labelicon {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 0 16px 0 0;
  padding-top:12px;
}

/* Tablet Styling ------------------------------- */

@media screen and (min-width: 760px) {

  main {
    max-width: 860px;
    padding:10px 30px;
  }

  input[type="text"], input[type="tel"], input[type="email"], input[type="url"], .select {
    width: calc(100% - 142px);
    display: inline-block;
  }

  label {
    margin: 30px 0 ;
    display: inline-block;
    width: 130px;
  }

  .width100 {
    width: 100%;
  }

  .zip {
    width: 30%;
  }

}

@media screen and (min-width: 880px) {

  .newsletterimg {
    float: left;
    margin:0 40px 40px 80px;
  }

  .blurb h2,
  .blurb p {
    text-align: left;
  }

  .blurb h2 {
    padding:30px 0 0 0;
  }

}